In [21]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv('fifa21 raw data v2.csv', low_memory = False)
pd.set_option('display.max_columns', None)
display(df.head())
df.info()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,Contract,Positions,Height,Weight,Preferred Foot,BOV,Best Position,Joined,Loan Date End,Value,Wage,Release Clause,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,Curve,FK Accuracy,Long Passing,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance,Power,Shot Power,Jumping,Stamina,Strength,Long Shots,Mentality,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Defending,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats,W/F,SM,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,2004 ~ 2021,"RW, ST, CF",170cm,72kg,Left,93,RW,"Jul 1, 2004",NaN,€103.5M,€560K,€138.4M,429,85,95,70,91,88,470,96,93,94,91,96,451,91,80,91,94,95,389,86,68,72,69,94,347,44,40,93,95,75,96,91,32,35,24,54,6,11,15,14,8,2231,466,4 ★,4★,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,2018 ~ 2022,"ST, LW",187cm,83kg,Right,92,ST,"Jul 10, 2018",NaN,€63M,€220K,€75.9M,437,84,95,90,82,86,414,88,81,76,77,92,431,87,91,87,95,71,444,94,95,84,78,93,353,63,29,95,82,84,95,84,28,32,24,58,7,11,15,14,11,2221,464,4 ★,5★,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,2014 ~ 2023,GK,188cm,87kg,Right,91,GK,"Jul 16, 2014",NaN,€120M,€125K,€159.4M,95,13,11,15,43,13,109,12,13,14,40,30,307,43,60,67,88,49,268,59,78,41,78,12,140,34,19,11,65,11,68,57,27,12,18,437,87,92,78,90,90,1413,489,3 ★,1★,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,2015 ~ 2023,"CAM, CM",181cm,70kg,Right,91,CAM,"Aug 30, 2015",NaN,€129M,€370K,€161M,407,94,82,55,94,82,441,88,85,83,93,92,398,77,76,78,91,76,408,91,63,89,74,91,408,76,66,88,94,84,91,186,68,65,53,56,15,13,5,10,13,2304,485,5 ★,4★,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,2017 ~ 2022,"LW, CAM",175cm,68kg,Right,91,LW,"Aug 3, 2017",NaN,€132M,€270K,€166.5M,408,85,87,62,87,87,448,95,88,89,81,95,453,94,89,96,91,83,357,80,62,81,50,84,356,51,36,87,90,92,93,94,35,30,29,59,9,9,15,15,11,2175,451,5 ★,5★,High,Medium,5 ★,91,85,86,94,36,59,595

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

In [23]:
"""Check if the column data type is 'object' and determine if it should be converted to numeric"""
for col in df.columns:
    if df[col].dtype == 'object':
        print(f"Column '{col}': {df[col].unique()[:5]}")
        print("-" * 50)

Column 'Name': ['L. Messi' 'Cristiano Ronaldo' 'J. Oblak' 'K. De Bruyne' 'Neymar Jr']
--------------------------------------------------
Column 'LongName': ['Lionel Messi' 'C. Ronaldo dos Santos Aveiro' 'Jan Oblak'
 'Kevin De Bruyne' 'Neymar da Silva Santos Jr.']
--------------------------------------------------
Column 'photoUrl': ['https://cdn.sofifa.com/players/158/023/21_60.png'
 'https://cdn.sofifa.com/players/020/801/21_60.png'
 'https://cdn.sofifa.com/players/200/389/21_60.png'
 'https://cdn.sofifa.com/players/192/985/21_60.png'
 'https://cdn.sofifa.com/players/190/871/21_60.png']
--------------------------------------------------
Column 'playerUrl': ['http://sofifa.com/player/158023/lionel-messi/210006/'
 'http://sofifa.com/player/20801/c-ronaldo-dos-santos-aveiro/210006/'
 'http://sofifa.com/player/200389/jan-oblak/210006/'
 'http://sofifa.com/player/192985/kevin-de-bruyne/210006/'
 'http://sofifa.com/player/190871/neymar-da-silva-santos-jr/210006/']
--------------------------------------------------
Column 'Nationality': ['Argentina' 'Portugal' 'Slovenia' 'Belgium' 'Brazil']
--------------------------------------------------
Column 'Club': ['\n\n\n\nFC Barcelona' '\n\n\n\nJuventus' '\n\n\n\nAtlético Madrid'
 '\n\n\n\nManchester City' '\n\n\n\nParis Saint-Germain']
--------------------------------------------------
Column 'Contract': ['2004 ~ 2021' '2018 ~ 2022' '2014 ~ 2023' '2015 ~ 2023' '2017 ~ 2022']
--------------------------------------------------
Column 'Positions': ['RW, ST, CF' 'ST, LW' 'GK' 'CAM, CM' 'LW, CAM']
--------------------------------------------------
Column 'Height': ['170cm' '187cm' '188cm' '181cm' '175cm']
--------------------------------------------------
Column 'Weight': ['72kg' '83kg' '87kg' '70kg' '68kg']
--------------------------------------------------
Column 'Preferred Foot': ['Left' 'Right']
--------------------------------------------------
Column 'Best Position': ['RW' 'ST' 'GK' 'CAM' 'LW']
--------------------------------------------------
Column 'Joined': ['Jul 1, 2004' 'Jul 10, 2018' 'Jul 16, 2014' 'Aug 30, 2015' 'Aug 3, 2017']
--------------------------------------------------
Column 'Loan Date End': [nan 'Jun 30, 2021' 'Dec 31, 2020' 'Jan 30, 2021' 'Jun 30, 2022']
--------------------------------------------------
Column 'Value': ['€103.5M' '€63M' '€120M' '€129M' '€132M']
--------------------------------------------------
Column 'Wage': ['€560K' '€220K' '€125K' '€370K' '€270K']
--------------------------------------------------
Column 'Release Clause': ['€138.4M' '€75.9M' '€159.4M' '€161M' '€166.5M']
--------------------------------------------------
Column 'W/F': ['4 ★' '3 ★' '5 ★' '2 ★' '1 ★']
--------------------------------------------------
Column 'SM': ['4★' '5★' '1★' '2★' '3★']
--------------------------------------------------
Column 'A/W': ['Medium' 'High' 'Low']
--------------------------------------------------
Column 'D/W': ['Low' 'Medium' 'High']
--------------------------------------------------
Column 'IR': ['5 ★' '3 ★' '4 ★' '2 ★' '1 ★']
--------------------------------------------------
Column 'Hits': ['771' '562' '150' '207' '595']
--------------------------------------------------

In [24]:
def clean_height(x):
    """Convert height from feet'inches" to centimeters."""
    if pd.isna(x): return x
    x = str(x)

    if 'cm' in x:
        return int(x.replace('cm', '').strip())

    elif "'" in x:
        try:
            parts = x.split("'")
            feet = int(parts[0].strip())
            inches = int(parts[1].replace('"', '').strip())
            return int((feet * 30.48) + (inches * 2.54))
        except:
            return None
    return None

def clean_weight(x):
    """Convert weight from pounds to kilograms."""
    if pd.isna(x): return x
    x = str(x)

    if 'kg' in x:
        return int(x.replace('kg', '').strip())

    elif 'lbs' in x:
        try:
            pounds = int(x.replace('lbs', '').strip())
            return int(pounds * 0.453592)
        except:
            return None
    return None


df['Height_cm'] = df['Height'].apply(clean_height)
df['Weight_kg'] = df['Weight'].apply(clean_weight)

print("-------------------- After Cleaning Height and Weight ------------------")
print(f"Height Sample: {df['Height_cm'].unique()[:5]}")
print(f"Weight Sample: {df['Weight_kg'].unique()[:5]}")

-------------------- After Cleaning Height and Weight ------------------
Height Sample: [170 187 188 181 175]
Weight Sample: [72 83 87 70 68]

In [25]:
def clean_money(x):
    """ Converts financial strings to integers."""
    if pd.isna(x): return x
    x = str(x).strip()

    x = x.replace('€', '').strip()

    if 'M' in x:
        return int(float(x.replace('M', '').strip())* 1_000_000)

    elif 'K' in x:
        return int(float(x.replace('K', '').strip())* 1_000)

    try:
        return int(x)
    except:
        return 0

financial_cols = ['Value', 'Wage', 'Release Clause']

for col in financial_cols:
    if col in df.columns:
        df[f"{col}_Num_in_EUR"] = df[col].apply(clean_money)

if 'Club' in df.columns:
    df['Club'] = df['Club'].str.replace('\n', '').str.strip()

print("-------------------- After Cleaning Financial Columns ------------------")
print(f"Cleaned Vlaue : {df['Value_Num_in_EUR'].unique()[:5]}")
print(f"Cleaned Wage : {df['Wage_Num_in_EUR'].unique()[:5]}")
print(f"Cleaned Club : {df['Club'].unique()[:5]}")

-------------------- After Cleaning Financial Columns ------------------
Cleaned Vlaue : [103500000  63000000 120000000 129000000 132000000]
Cleaned Wage : [560000 220000 125000 370000 270000]
Cleaned Club : ['FC Barcelona' 'Juventus' 'Atlético Madrid' 'Manchester City'
 'Paris Saint-Germain']

In [26]:
def check_currency(col_name):
    """ Check if a column contains other currency symbols. """
    if col_name in df.columns:
        non_euro_values = df[~df[col_name].str.contains('€') & df[col_name].notna()]

        if len(non_euro_values) > 0:
            print(f"Column {col_name} contains {len(non_euro_values)} non-Euro currency values")
            display(non_euro_values[col_name].unique())
        
        else:
            print(f"Column {col_name} contains only Euro currency values")
        
check_currency('Value')
check_currency('Wage') 
check_currency('Release Clause')

Column Value contains only Euro currency values
Column Wage contains only Euro currency values
Column Release Clause contains only Euro currency values

In [27]:
"""Check for missing values in specific columns before filling them"""
cols_to_fix = ['Height_cm', 'Weight_kg', 'Club']
print("--- Κενά ΠΡΙΝ το γέμισμα ---")
print(df[cols_to_fix].isnull().sum().sort_values(ascending=False))

--- Κενά ΠΡΙΝ το γέμισμα ---
Height_cm    0
Weight_kg    0
Club         0
dtype: int64

In [28]:
"""Robust imputation for future missing values"""

if 'Height_cm' in df.columns:
    df['Height_cm'] = df['Height_cm'].fillna(df['Height_cm'].mean())

if 'Weight_kg' in df.columns:
    df['Weight_kg'] = df['Weight_kg'].fillna(df['Weight_kg'].mean())

if 'Club' in df.columns:
    df['Club'] = df['Club'].fillna('No Club')
    df.loc[df['Club'] == '', 'Club'] = 'No Club'

print("--- Final Missing Values Check ---")
cols_to_check = ['Height_cm', 'Weight_kg', 'Club']
print(df[cols_to_check].isnull().sum())

--- Final Missing Values Check ---
Height_cm    0
Weight_kg    0
Club         0
dtype: int64

In [29]:
print("---  Age Check ---")
print(df['Age'].describe()) 
print("---  Position Check ---")
target_pos_col = 'Best Position' if 'Best Position' in df.columns else 'Position'

if target_pos_col in df.columns:
    print(f"Checking column: {target_pos_col}")
    unique_positions = df[target_pos_col].unique()
    print(f"Number of unique positions: {len(unique_positions)}")
    print("All positions:", unique_positions)
else:
    print("Position column not found!")

---  Age Check ---
count    18979.000000
mean        25.194109
std          4.710520
min         16.000000
25%         21.000000
50%         25.000000
75%         29.000000
max         53.000000
Name: Age, dtype: float64
---  Position Check ---
Checking column: Best Position
Number of unique positions: 15
All positions: ['RW' 'ST' 'GK' 'CAM' 'LW' 'CB' 'CDM' 'CF' 'CM' 'RB' 'LB' 'LM' 'RM' 'LWB'
 'RWB']

In [30]:
clean_filename = 'fifa21_cleaned.csv'
df.to_csv(clean_filename, index=False)

In [31]:
""" Creating Star Schema for Power BI """

dim_club = df[['Club']].drop_duplicates().reset_index(drop=True)
dim_club['Club_ID'] = dim_club.index + 1
display(dim_club.head())
print(f"Συνολικές Ομάδες: {len(dim_club)}")

                  Club  Club_ID
0         FC Barcelona        1
1             Juventus        2
2      Atlético Madrid        3
3      Manchester City        4
4  Paris Saint-Germain        5

Συνολικές Ομάδες: 682

In [32]:
dim_player = df[['ID', 'Name', 'Age', 'Nationality', 'Best Position', 'photoUrl']]
dim_player = dim_player.rename(columns={'ID' : 'Player_ID'})
dim_player.head()

,Player_ID,Name,Age,Nationality,Best Position,photoUrl
0,158023,L. Messi,33,Argentina,RW,https://cdn.sofifa.com/players/158/023/21_60.png
1,20801,Cristiano Ronaldo,35,Portugal,ST,https://cdn.sofifa.com/players/020/801/21_60.png
2,200389,J. Oblak,27,Slovenia,GK,https://cdn.sofifa.com/players/200/389/21_60.png
3,192985,K. De Bruyne,29,Belgium,CAM,https://cdn.sofifa.com/players/192/985/21_60.png
4,190871,Neymar Jr,28,Brazil,LW,https://cdn.sofifa.com/players/190/871/21_60.png

In [33]:
if '↓OVA' in df.columns:
     df = df.rename(columns={'↓OVA' : 'OVA'})

df_merged = df.merge(dim_club, on ='Club', how='left')

fact_stats = df_merged[['ID', 'Club_ID', 'Value_Num_in_EUR', 'Wage_Num_in_EUR', 'Release Clause_Num_in_EUR', 'OVA', 'POT', 'Age']]
fact_stats = fact_stats.rename(columns = {'ID' : 'Player_ID'})

dim_club.to_csv('Dim_Club.csv', index=False)
dim_player.to_csv('Dim_Player.csv', index=False)
fact_stats.to_csv('Fact_Stats.csv', index=False)

display(fact_stats.head())

,Player_ID,Club_ID,Value_Num_in_EUR,Wage_Num_in_EUR,Release Clause_Num_in_EUR,OVA,POT,Age
0,158023,1,103500000,560000,138400000,93,93,33
1,20801,2,63000000,220000,75900000,92,92,35
2,200389,3,120000000,125000,159400000,91,93,27
3,192985,4,129000000,370000,161000000,91,91,29
4,190871,5,132000000,270000,166500000,91,91,28